[submodule "bridge/portal/lib/forge-std"]
	path = bridge/portal/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bridge/portal/lib/openzeppelin-contracts"]
	path = bridge/portal/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
