[submodule "portal/lib/allo-v2"]
	path = portal/lib/allo-v2
	url = https://github.com/allo-protocol/allo-v2
[submodule "portal/lib/openzeppelin-contracts"]
	path = portal/lib/openzeppelin-contracts-local
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
